@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  --nav-size: 60px;

  font-family: 'Comfortaa', Arial, sans-serif;
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
body > div {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  margin: 2px 0px;
}
button {
  cursor: pointer;
}
input {
  font-family: 'Comfortaa';
  font-size: 100%;
}

.modal-middle {
  position: absolute;
  left: 7dvw;
  right: 7dvw;
  bottom: 0px;
  color: #ddd;
  width: 86dvw;
  height: 0px;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  background-color: #22282a;
  transition: height 500ms;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 10;
}

#explore[open] {
  display: flex;
  flex-direction: column;
}
#explore h2 {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 25px;
}
#explore > div {
  padding-inline: 25px;
  margin: 5px 0px;
}
#explore .filters {
  padding: 20px 25px;
  background-color: #2e3337;
}
#explore .search {
  display: flex;
  margin-bottom: 10px;
  border-radius: 0.25rem;
  background-color: #22282a;
  overflow: hidden;
}
#explore .search input, #explore .search button {
  padding: 8px;
  border: none;
  outline: none;
  background: none;
}
#explore .line input[type=radio] { display:none }
#explore .line span {
  display: inline-block;
  width: 80px;
  color: #ffffff;
  font-weight: lighter;
}
#explore .line label {
  cursor: pointer;
  color: #a1c2d2;
}
#explore .line label:has(input:checked) {
  color: #ffffff;
  font-weight: bolder;
}
#explore-res {
  flex: 1;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  height: 0px;
  overflow: hidden auto;
}
#explore-res > div {
  flex: 1 1 calc(33.33% - 5px);
  display: flex;
  height: 100px;
  border-radius: 0.6rem;
  overflow: hidden;
}
#explore-res img {
  width: 108px;
  height: 100px;
  margin-right: -8px;
  object-fit: cover;
}
#explore-res > div > div {
  display: flex;
  flex-direction: column;
}
#explore-res .info {
  flex: 1;
  width: 0px;
  padding: 5px;
  border-radius: 0.6rem;
  background-image: linear-gradient(90deg, #454f54ff 10%, #454f54bb 70%), var(--cover);
  background-size: cover;
  background-position: center;
}
#explore-res .info span, #explore-res .info b {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#explore-res .info .stats {
  opacity: 0;
  transition: opacity 500ms;
  overflow: hidden;
}
#explore-res .info:hover .stats {
  opacity: 1;
}
#explore-res .down {
  padding-left: 8px;
  margin-left: -8px;
  background-color: #394246;
  z-index: -1;
}
#explore-res .down button {
  flex: 1;
  border: none;
  border-radius: 0px;
  background: none;
}

#topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: var(--nav-size);
  padding: 0px 5px;
  box-shadow: #191919 0 0 20px 0px;
  background-color: #191919;
  transition: height 250ms;
  z-index: 2;
  box-sizing: border-box;
}
#topbar.hidden {
  height: 0px;
}
#topbar .modes {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100%;
  padding-inline: 10px;
  background-color: black;
}
#topbar button {
  position: relative;
  height: 75%;
  border: none;
  padding: 10px;
  margin: 0px;
  border-radius: 0.5rem;
  background-color: #ccc0;
  transition: background-color 250ms;
}
#topbar button:hover {
  background-color: #ccc4;
}
#topbar > button:nth-child(1), #topbar > button:nth-child(2) {
  padding-inline: 20px;
}
#topbar button img, #topbar button svg {
  width: unset;
  height: 100%;
}
#topbar button svg {
  fill: white;
  stroke: white;
}
#topbar button[selected] svg {
  fill: #00ffaa;
  stroke: #00ffaa;
}
#topbar .modes button[selected]::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -5px;
  display: block;
  height: 3px;
  border-radius: 2rem;
  background-color: white;
}

#page-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bbb no-repeat center/cover;
  background-blend-mode: multiply;
  background-size: auto calc(20px + max(100dvh, 60dvw));
  transition: background-image 500ms, background-color 250ms;
}
#page-main .logo {
  cursor: pointer;
  width: min(25dvw, 35dvh);
  border-radius: 999rem;
  background: linear-gradient(#f662a5, #d4558e);
  transition: transform 500ms, width 250ms;
  animation: bump 1s infinite ease-out;
  z-index: 1;
}
#page-main .logo:hover {
  transform: scale(1.05);
  animation-name: bumpb;
}
#page-main:has(.menu.hidden) {
  background-color: white;
}
#page-main:has(.menu.hidden) .logo {
  width: min(50dvw, 70dvh);
}
#page-main .menu {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  display: flex;
  height: 125px;
  opacity: 1;
  background-color: #323232;
  transform: translateY(-50%);
  transition: height 250ms, opacity 250ms;
  overflow: hidden;
}
#page-main .menu.hidden {
  height: 0px;
  opacity: 0;
}
#page-main .menu span {
  flex: 1;
  flex-shrink: 0;
  overflow: hidden;
}
#page-main .menu .left {
  display: flex;
  flex-direction: row-reverse;
}
#page-main .menu .right {
  display: flex;
}
#page-main .menu button {
  flex-shrink: 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 125px;
  margin: 0px;
  margin-left: -20px;
  border: none;
  padding: 0px;
  background-color: var(--bg);
  transition: width 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0% 100%);
  box-sizing: border-box;
}
#page-main .menu button:hover {
  width: 250px;
}
#page-main .menu button:nth-child(1) {
  width: calc(min(25dvw, 35dvh) / 3 + 250px);
}
#page-main .menu button:nth-child(1):hover {
  width: calc(min(25dvw, 35dvh) / 3 + 325px);
}
#page-main .menu .left button:nth-child(1) {
  padding-right: calc(min(25dvw, 35dvh) / 4);
}
#page-main .menu .right button:nth-child(1) {
  padding-left: calc(min(25dvw, 35dvh) / 4);
}
#page-main .menu button img {
  height: 50px;
}

@keyframes bump {
  0% { transform: scale(0.99); }
  20% { transform: scale(1); }
  99% { transform: scale(1); }
}
@keyframes bumpb {
  0% { transform: scale(1.04); }
  20% { transform: scale(1.05); }
  99% { transform: scale(1.05); }
}