@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  --nav-size: 55px;

  font-family: 'Comfortaa', Arial, sans-serif;
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
body > div {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  margin: 2px 0px;
}
button {
  cursor: pointer;
}
input {
  font-family: 'Comfortaa';
  font-size: 100%;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

.modal-middle {
  position: absolute;
  left: 8dvw;
  right: 8dvw;
  bottom: 0px;
  color: #ddd;
  width: 84dvw;
  height: 0px;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  background-color: #22282a;
  transition: height 500ms;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 10;
}

#explore[open] {
  display: flex;
  flex-direction: column;
}
#explore h2 {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px 25px;
}
#explore > div {
  padding-inline: 25px;
  margin: 5px 0px;
}
#explore .filters {
  padding: 20px 25px;
  background-color: #2e3337;
}
#explore .search {
  display: flex;
  margin-bottom: 10px;
  border-radius: 0.25rem;
  background-color: #22282a;
  overflow: hidden;
}
#explore .search input, #explore .search button {
  padding: 8px;
  border: none;
  outline: none;
  background: none;
}
#explore .line input[type=radio] { display:none }
#explore .line span {
  display: inline-block;
  width: 80px;
  color: #ffffff;
  font-weight: lighter;
}
#explore .line label {
  cursor: pointer;
  color: #a1c2d2;
}
#explore .line label:has(input:checked) {
  color: #ffffff;
  font-weight: bolder;
}
#explore-res {
  flex: 1;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  height: 0px;
  overflow: hidden auto;
}
#explore-res > div {
  position: relative;
  display: flex;
  height: 100px;
  border-radius: 0.6rem;
  background-color: #333;
  overflow: hidden;
}
#explore-res > div > img {
  width: 108px;
  height: 100px;
  margin-right: -8px;
  object-fit: cover;
}
#explore-res .preview {
  position: absolute;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  padding-right: 8px;
  background-color: #0006;
  opacity: 0;
  z-index: 0;
  transition: 250ms;
}
#explore-res .preview:hover {
  color: #ffcc22;
}
#explore-res > div:hover .preview, #explore-res .preview:has([data-stop]) {
  opacity: 1;
}
#explore-res .preview:has([data-stop])::before {
  content: "";
  position: absolute;
  inset: 18px;
  height: 64px;
  width: 64px;
  border-radius: 5rem;
  display: grid;
  place-items: center;
  background-color: #6cf;
  mask: radial-gradient(circle 25px at center, transparent 98%, black 100%), conic-gradient(black 0deg calc(var(--perc,0) * 360deg), transparent 0deg);
  mask-composite: intersect;
}
#explore-res > div > div {
  display: flex;
  flex-direction: column;
}
#explore-res .info {
  flex: 1;
  width: 0px;
  padding: 5px;
  border-radius: 0.6rem;
  --over: linear-gradient(90deg, #454f54ff 10%, #454f54bb 70%);
  background-image: var(--over), var(--cover), linear-gradient(#394246,#394246);
  background-size: cover;
  background-position: center;
  transition: 250ms;
  z-index: 1;
}
#explore-res .info span, #explore-res .info b {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#explore-res .info .stats {
  opacity: 0;
  transition: opacity 250ms;
  overflow: hidden;
}
#explore-res > div:hover > .info {
  --over: linear-gradient(90deg, #292f32ff 10%, #292f32bb 70%);
}
#explore-res > div:hover > .info .stats {
  opacity: 1;
}
.binfo {
  flex-shrink: 0;
  display: flex;
  gap: 2px;
  align-items: center;
  overflow: hidden;
}
.binfo .badge {
  flex-shrink: 0;
  color: #394246;
  font-weight: bolder;
  font-size: 80%;
  text-transform: uppercase;
  padding: 3px 4px 1px;
  margin-right: 3px;
  border-radius: 2rem;
  background-color: var(--color);
}
.binfo img {
  height: 18px;
}
.binfo .diff {
  display: inline-block;
  width: 6px;
  min-width: 0.1px;
  height: 12px;
  border-radius: 2rem;
  background-color: var(--bg);
}
#explore-res .down {
  padding-left: 8px;
  margin-left: -8px;
  background-color: #394246;
  transition: background-color 500ms;
}
#explore-res .down button {
  flex: 1;
  width: 0px;
  color: #bad5e2;
  padding: 0px;
  margin: 5px;
  border: none;
  border-radius: 0px;
  opacity: 0;
  background: none;
  transition: 300ms;
  overflow: hidden;
}
#explore-res .down[downloaded] {
  background-color: #ccff99;
}
#explore-res .down[downloaded] button {
  color: #394246;
}
#explore-res > div:hover > .down button {
  width: 30px;
  opacity: 1;
}

#topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: var(--nav-size);
  padding: 0px 5px;
  box-shadow: #191919 0 0 20px 0px;
  background-color: #191919;
  transition: height 250ms;
  z-index: 2;
  box-sizing: border-box;
}
#topbar.hidden {
  height: 0px;
}
#topbar .modes {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 100%;
  padding-inline: 10px;
  background-color: black;
}
#topbar button {
  position: relative;
  height: 75%;
  border: none;
  padding: 10px;
  margin: 0px;
  border-radius: 0.5rem;
  background-color: #ccc0;
  transition: background-color 250ms;
}
#topbar button:hover {
  background-color: #ccc4;
}
#topbar > button:nth-child(1), #topbar > button:nth-child(2) {
  padding-inline: 20px;
}
#topbar button img, #topbar button svg {
  width: unset;
  height: 100%;
}
#topbar button svg {
  fill: white;
  stroke: white;
}
#topbar button[selected] svg {
  fill: #00ffaa;
  stroke: #00ffaa;
}
#topbar .modes button[selected]::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -5px;
  display: block;
  height: 3px;
  border-radius: 2rem;
  background-color: white;
}

#page-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bbb no-repeat center/cover;
  background-blend-mode: multiply;
  background-size: auto calc(20px + max(100dvh, 60dvw));
  transition: background-image 500ms, background-color 250ms;
}
#page-main .logo {
  cursor: pointer;
  width: min(25dvw, 35dvh);
  border-radius: 999rem;
  transition: transform 500ms, width 250ms;
  animation: bump 1s infinite ease-out;
  z-index: 1;
}
#page-main .logo:hover {
  transform: scale(1.05);
  animation-name: bumpb;
}
#page-main:has(.menu.hidden) {
  background-color: white;
}
#page-main:has(.menu.hidden) .logo {
  width: min(50dvw, 70dvh);
}
#page-main .menu {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  display: flex;
  height: 125px;
  opacity: 1;
  background-color: #323232;
  transform: translateY(-50%);
  transition: height 250ms, opacity 250ms;
  overflow: hidden;
}
#page-main .menu.hidden {
  height: 0px;
  opacity: 0;
}
#page-main .menu span {
  flex: 1;
  flex-shrink: 0;
  overflow: hidden;
}
#page-main .menu .left {
  display: flex;
  flex-direction: row-reverse;
}
#page-main .menu .right {
  display: flex;
}
#page-main .menu button {
  flex-shrink: 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 125px;
  margin: 0px;
  margin-left: -20px;
  border: none;
  padding: 0px;
  background-color: var(--bg);
  transition: width 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0% 100%);
  box-sizing: border-box;
}
#page-main .menu button:hover {
  width: 250px;
}
#page-main .menu button:nth-child(1) {
  width: calc(min(25dvw, 35dvh) / 3 + 250px);
}
#page-main .menu button:nth-child(1):hover {
  width: calc(min(25dvw, 35dvh) / 3 + 325px);
}
#page-main .menu .left button:nth-child(1) {
  padding-right: calc(min(25dvw, 35dvh) / 4);
}
#page-main .menu .right button:nth-child(1) {
  padding-left: calc(min(25dvw, 35dvh) / 4);
}
#page-main .menu button img {
  height: 50px;
}

#page-bmselect {
  position: relative;
  height: calc(100dvh - var(--nav-size));
  margin-top: var(--nav-size);
}
#page-bmselect > .back {
  width: 100dvw;
  height: calc(100dvh - var(--nav-size));
  background-image: var(--img);
  background-size: cover;
  background-position: center;
  transition: background 500ms;
}
#page-bmselect .search {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 45dvw;
  height: 16dvh;
  background-color: #444d;
  z-index: 1001;
}
#page-bmselect .list {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 44dvw;
  padding: 50dvh 0px;
  overflow: hidden;
  z-index: 1000;
}
#page-bmselect .list .set {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(44dvw - var(--extra));
  height: 90px;
  padding: 14px;
  --extra: 6dvw;
  transform: translateX(var(--extra));
  margin-left: calc(var(--sep) * var(--sep) / 2000 * 1px);
  border-radius: 0.75rem 0 0 0.75rem;
  background-size: cover;
  background-position: center;
  --over: linear-gradient(#4446,#4446);
  background-image: var(--over), var(--cover), linear-gradient(#394246,#394246);
  box-shadow: 5px 5px 10px 0px #222b;
  box-sizing: border-box;
  z-index: calc(1000 - var(--i));
  transition-property: width, padding, margin-top, transform, background;
  transition-duration: 250ms;
}
#page-bmselect .list .set:hover {
  --over: linear-gradient(#4444,#4444);
  transition-property: width, padding, margin-top, transform;
}
#page-bmselect .list .set[selected] {
  --extra: 0px;
  margin-top: 6px;
}
#page-bmselect .list .set span {
  text-box-trim: trim-both;
}
#page-bmselect .list .maps {
  max-height: 0px;
  transition: max-height 1s;
  overflow: hidden;
}
#page-bmselect .list .set[selected] + .maps {
  display: flex;
  flex-direction: column;
  max-height: calc(var(--count) * 59px);
}
#page-bmselect .list .maps .map {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  color: var(--tx);
  height: 55px;
  margin: 2px 0px;
  margin-left: calc(var(--sep) * var(--sep) / 2000 * 1px + 50px);
  border-radius: 0.75rem 0 0 0.75rem;
  background-color: var(--bg);
}
#page-bmselect .list .maps .map > svg {
  flex-shrink: 0;
  margin: 4px;
}
#page-bmselect .list .maps .map > div {
  flex: 1;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 90%;
  padding: 0px 10px;
  border-radius: 0.75rem 0 0 0.75rem;
  background-color: #0004;
}
#page-bmselect .list .maps .map div > span {
  color: #fff;
}
#page-bmselect .list .maps .map .stars {
  display: flex;
  align-items: center;
}
#page-bmselect .list .maps .map .stars span {
  display: flex;
  gap: 2px;
  align-items: center;
  width: fit-content;
  font-size: 90%;
  color: var(--tx);
  padding: 3px 7px;
  margin-right: 4px;
  border-radius: 2rem;
  background-color: var(--bg);
}
#page-bmselect .list .maps .map .stars > svg {
  color: var(--bg);
}

.scrollbar {
  position: absolute;
  right: 0px;
  top: calc(16dvh + var(--perc,0) * (84dvh - var(--size)));
  width: 8px;
  height: min(max(var(--size), 40px), 70dvh);
  border-radius: 2rem;
  background-color: #fffa;
  z-index: 1001;
}

@keyframes bump {
  0% { transform: scale(0.99); }
  20% { transform: scale(1); }
  99% { transform: scale(1); }
}
@keyframes bumpb {
  0% { transform: scale(1.04); }
  20% { transform: scale(1.05); }
  99% { transform: scale(1.05); }
}